@use '../../scss' as *;

.header {
	margin: 1rem 5vw 0;

	display: flex;
	align-items: center;
	justify-content: space-between;

	.logo-container {
		.logo {
			max-width: 30px;
			border-radius: 50%;
			border: 2px solid $color-white;
			animation: logo_spin 2s ease-in-out 2s infinite normal none;
			// animation-play-state: paused;
		}

		@keyframes logo_spin {
			25% {
				transform: rotate(90deg);
			}
			50% {
				transform: rotate(180deg);
			}
			75% {
				border-top-color: $color-black;

				border-bottom-color: $color-black;
				transform: rotate(270deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}

.main {
	margin-top: 1.25rem;
}

@media screen and (min-width: 768px) {
	.header {
		margin-top: 1.5rem;
	}
}

@media screen and (min-width: 1014px) {
	.header {
		margin-top: 1.5rem;
	}
}
