.search-photos-container {
	.search-photos-text-container {
		text-align: center;
	}

	.search-photos-footer {
		height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
