// fonts

$font-arial: Arial, Helvetica, sans-serif, Inter, Avenir;
$font-segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// colors

$color-black: #111;

$color-white: #ffffff;
$color-white-light: #e0e0e0;

$color-gray: #acacac;
$color-gray-light: #eeeeee;
$color-gray-dark: #767676;
