:root {
	// fonts
	--font-arial: Arial, Helvetica, sans-serif, Inter, Avenir;
	--font-segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	// colors
	--color-black: #111;
	--color-white: #ffffff;
	--color-white-light: #e0e0e0;
	--color-gray: #acacac;
	--color-gray-light: #eeeeee;
	--color-gray-dark: #767676;

	font-family: var(--font-arial);
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: var(--color-black);
	background-color: var(--color-white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a {
	color: inherit;
	font-weight: 500;
	text-decoration: none;
}

img {
	width: 100%;
}

input {
	width: 100%;
	&:hover,
	&:focus {
		outline: none;
	}
}

button {
	outline: none;
	border: none;
}

ol,
ul,
li {
	list-style: none;
}
